@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;1,200&family=Kanit:ital,wght@0,100;0,200;0,400;1,100;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;1,200&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');



.yoo{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #767676;

}
.gr1{
    background: radial-gradient(circle at 92%, #0082E4, #0082E4 2%, #0082E4 0%, #f9f9f9 5%);
    opacity: 0.8;
filter: blur(67px);
}
.gr2{
    background: radial-gradient(circle at 3%, #0082E4, #0082E4 3%, #0082E4 0%, #f9f9f9 5%);
    opacity: 0.8;
filter: blur(60px);
}
.t1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 124%;
/* identical to box height, or 81px */


/* color: #2B88D9; */
}
.t2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 140%;
/* identical to box height, or 38px */

text-transform: capitalize;

/* color: #222222; */
}
.t3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 150%;
/* or 22px */


/* color: #666666; */
}
.t4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 32.5px;
line-height: 124%;
}
.t5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
}
.t7{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
/* or 125% */
/* text-align: center; */

color: #FFFFFF;
}
.t6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;
letter-spacing: 0.01em;

color: rgba(255, 255, 255, 0.6);

}
.t8{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 14px;
/* identical to box height, or 100% */


color: rgba(255, 255, 255, 0.7);
}


.fir{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 117.69%;
/* or 24px */

letter-spacing: 0.5px;

color: #FFFFFF;

}
.firs{
    font-family: 'Poppins';
font-style: normal;
font-weight: 250;
font-size: 16px;
line-height: 117.69%;
/* or 19px */

display: flex;
align-items: center;

color: #FFFFFF;

opacity: 0.9;
}
.las{
    font-family: 'Poppins';
/* font:bold; */
font-weight: 800;

font-size: 20px;
line-height: 117.69%;
/* or 24px */

letter-spacing: 0.5px;

color: #FFFFFF;

}
.firss{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140.2%;
/* or 22px */

display: flex;
align-items: center;
letter-spacing: 0.5px;

color: #FFFFFF;

opacity: 0.7;
}